.header{
    text-align: center;
}

.onetop-row{
    text-align: center;
}

.twotop-row{
    text-align: center;
}

.threetop-row{
    text-align: center;
}

.fourtop-row{
    text-align: center;
}

.fivetop-row {
    text-align: center;
}

.onemid-row{
    text-align: center;
}

.twomid-row{
    text-align: center;
}

.threemid-row{
    text-align: center;
}

.bot-row{
    text-align: center;
}